<div class="my-wishlist">
<h2 class="wishlist-title">Wishlist</h2>
<div class="wishlist-container">
  <div class="row">
      {{#each paintings}}
      <div class="col-md-3">
        <figure class="figure">
          <div class="text-center collection-card">
            <img id="myImg {{title}}" class="myImgClass {{title}}" src="{{image_url}}"
              style="width: auto; height: 150px" class="figure-img img-fluid" alt="{{title}}">
            <div id="myModal {{title}}" class="modal {{title}}">
              <span class="close">&times;</span>
              <img class="modal-content {{title}}" id="img01 {{title}}">
              <div id="caption"></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center font-weight-bold font-wish">{{title}} - {{paintedIn}}</figcaption>
          <figcaption class="figure-caption text-center font-weight-bold font-wish">Painted by: {{author}}</figcaption>
          <figcaption class="figure-caption text-center font-weight-bold font-wish">Cost: {{price}}$</figcaption>
      </div>
      {{/each}}
</div>
    

    <script>
      var modal = document.getElementsByClassName("modal");
      var img = document.getElementsByClassName("myImgClass");
      var modalImg = document.getElementsByClassName("modal-content");
      var captionText = document.getElementById("caption");
      let liTagsArray = [...img];
      var span = document.getElementsByClassName("close");

      span.onclick = function () {
        modal.style.display = "none";
      }
      for (let i = 0; i < liTagsArray.length; i++) {
        liTagsArray[i].onclick = () => {
          modal[i].style.display = "block";
          modalImg[i].src = liTagsArray[i].src;
          captionText.innerHTML = liTagsArray[i].alt;
          span[i].onclick = function () {
            modal[i].style.display = "none";
          }
        };
      }
    </script>
  </div>
</div>
