<div class="row">
  {{#each paintings}}
  <div class="col-md-6 mb-5">
    <div class="card" style="width: 18rem;">
      <img src="{{image_url}}" class="card-img-top" alt="{{title}}">
      <div class="card-body">
        <h5 class="card-title">{{title}} - {{paintedIn}}</h5>
        <p class="card-text">Painted by: {{author}}</p>
        <p class="card-text">Cost: {{price}}</p>
        <p class="card-text">Stock: {{minus total sold}}</p>
        <form action="/buy/{{_id}}" method="POST">
          <button type="submit" class="btn btn-primary">Buy painting</button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
  {{#if errorMessage}}
  <!-- The Modal -->
  <div id="myModal" class="modal" style="display: block;">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>{{errorMessage}}</p>
    </div>
  </div>
  {{/if}}
</div>
<script>
  var modal = document.getElementById("myModal");


  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];



  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>