<div class="row">
  {{#each paintings}}
  <div class="col-md-4 mb-5">
    <div class="card" style="width: 18rem;">
      <img src="{{image_url}}" class="card-img-top" alt="{{title}}">
      <div class="card-body">
        <h5 class="card-title">{{title}} - {{paintedIn}}</h5>
        <p class="card-text">Painted by: {{author}}</p>
        <p class="card-text">Cost: {{price}}</p>
      </div>
    </div>
  </div>
  {{/each}}
  <hr />
</div>