<div class="index-page auctions">
  <div class="container">
    <div class="row">
      {{#each auctions}}
      <div class="col-md-4">
        <div class="card container-fluid  bg-transparent">
          <img src="{{paintingImg}}" class="card-img-top" alt="...">
          <div>
            <h5 class="text-center text-light painting-owner card-title">{{auctionOwner}} is selling: </h5>
            <h5 class="text-center text-light paint-title-auction">{{paintingName}}</h5>
            {{#if (eq winning "No bids yet")  }}
            <p class="card-text text-center">Start price: {{activePrice}}</p>
            {{else}}
            <p class="card-text text-center">Current bid: {{activePrice}} by {{winning}}</p>
            {{/if}}
            <div class="text-center font-owned">
              <a href="/single-auction/{{auctionID}}" class="btn btn-auction-details btn-primary">More details</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>