<div class="row">
  {{#each auctions}}
  <div class="col-md-4 d-flex justify-content-around mb-5">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{auctionOwner.username}} is selling: {{paintingName}}</h5>
        <p class="card-text">Current Bid: {{activePrice}} by {{winning}}</p>
        <a href="/single-auction/{{auctionID}}" class="btn btn-primary">More details</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>